<h1>Coaching#ask</h1>
<p>Find me in app/views/coaching/ask.html.erb</p>


<form action="/answer">
  <label for="question">Let your Coach know what's up?</label>
  <input type="text" id="question" name="query" placeholder="What's up?">
  <input type="submit" value="Go on!">
</form>
